<div class="MainBanner">
  <div class="MainForm">
    <form action="/artists" method="POST">
      <input type="text" placeholder="Enter your favorite artist name"/>
      <input type="submit" value="Search for an artist">
    </form>
  </div>
</div>
