<div class="MainBanner">
  <div class="MainForm">
    <form action="" method="" >
      <input type="text" placeholder="Enter your favorite artist name"/>
    </form>
  </div>
</div>
<h1>Spoty</h1>
<p>Welcome to Spoty</p>
